body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 14px;
  min-width: 300px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

img {
  width: 100%;
  height: auto; }

.no-scroll {
  overflow: hidden; }

.container {
  max-width: 1200px;
  letter-spacing: 0.3px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto; }

.container.hidden {
  overflow: hidden; }

.header {
  font-family: 'Open Sans';
  font-weight: 700; }
  .header-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
    line-height: 70px; }
    .header-top .logo, .header-top .logo-mobile {
      font-size: 30px; }
    .header-top .logo-mobile {
      display: none; }
    .header-top .user-menu {
      font-weight: 400;
      font-size: 12px; }
      .header-top .user-menu .email {
        vertical-align: top; }
      .header-top .user-menu .sign-up {
        margin-right: 27px;
        vertical-align: top; }
      .header-top .user-menu .bag {
        position: relative;
        vertical-align: top;
        margin-right: 5px; }
      .header-top .user-menu .bag::before {
        content: '';
        position: absolute;
        display: block;
        top: 2px;
        left: -20px;
        width: 12px;
        height: 12px;
        background: url("../img/ico_bag.png") no-repeat center; }
      .header-top .user-menu .hamburger {
        cursor: pointer;
        display: none;
        position: relative;
        width: 54px;
        height: 100%;
        border-left: 1px solid #ccc; }
        .header-top .user-menu .hamburger span {
          display: block;
          position: absolute;
          left: 27px;
          width: 14px;
          height: 2px;
          background: black;
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s; }
        .header-top .user-menu .hamburger span:nth-child(1) {
          top: 30px;
          -webkit-transform-origin: left center;
              -ms-transform-origin: left center;
                  transform-origin: left center; }
        .header-top .user-menu .hamburger span:nth-child(2) {
          top: 34px;
          opacity: 1; }
        .header-top .user-menu .hamburger span:nth-child(3) {
          top: 38px;
          -webkit-transform-origin: left center;
              -ms-transform-origin: left center;
                  transform-origin: left center; }
      .header-top .user-menu .hamburger.open {
        border-left: 1px solid transparent; }
        .header-top .user-menu .hamburger.open span {
          background-color: #f14a58; }
        .header-top .user-menu .hamburger.open span:nth-child(1) {
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
          top: 29px; }
        .header-top .user-menu .hamburger.open span:nth-child(2) {
          width: 0%; }
        .header-top .user-menu .hamburger.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          top: 39px; }
  .header-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 13px; }
    .header-bottom .menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      width: 100%; }
      .header-bottom .menu-links {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        font-size: 13px; }
        .header-bottom .menu-links li {
          margin-right: 65px; }
        .header-bottom .menu-links .active a {
          color: #f14a58; }
        .header-bottom .menu-links li:hover a {
          color: #f14a58; }
    .header-bottom .search {
      position: relative;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      width: 120px;
      margin-left: auto; }
      .header-bottom .search [type="search"] {
        border: 0;
        width: 100%;
        height: 23px;
        padding: 0px 0px 8px 0px;
        border-bottom: 2px solid #e5e5e5;
        margin: 0; }
      .header-bottom .search [type="search"]::-webkit-input-placeholder {
        font-size: 12px;
        font-weight: bold;
        font-family: 'Open Sans';
        color: #a8a8a8; }
      .header-bottom .search [type="search"]::-moz-placeholder {
        font-size: 12px;
        font-weight: bold;
        font-family: 'Open Sans';
        color: #a8a8a8; }
      .header-bottom .search [type="search"]:-ms-input-placeholder {
        font-size: 12px;
        font-weight: bold;
        font-family: 'Open Sans';
        color: #a8a8a8; }
      .header-bottom .search [type="search"]::-ms-input-placeholder {
        font-size: 12px;
        font-weight: bold;
        font-family: 'Open Sans';
        color: #a8a8a8; }
      .header-bottom .search [type="search"]::placeholder {
        font-size: 12px;
        font-weight: bold;
        font-family: 'Open Sans';
        color: #a8a8a8; }
      .header-bottom .search [type="submit"] {
        position: absolute;
        top: 2px;
        right: 0px;
        border: 0;
        width: 12px;
        height: 12px;
        background: url("../img/ico.png") no-repeat; }

.main-content .filter-wrapper {
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-family: 'Open Sans';
  font-weight: 700; }
  .main-content .filter-wrapper .filter-close-btn {
    display: none;
    background: 0;
    border: 0; }
  .main-content .filter-wrapper .toolbar {
    display: none;
    white-space: nowrap; }
  .main-content .filter-wrapper .filter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 50px; }
    .main-content .filter-wrapper .filter li.open {
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc; }
      .main-content .filter-wrapper .filter li.open ul {
        border-top: 1px solid transparent; }
    .main-content .filter-wrapper .filter > li.selected {
      font-size: 12px; }
      .main-content .filter-wrapper .filter > li.selected .selected-item-name {
        display: block;
        color: #f14a58;
        font-size: 16px;
        margin-top: 5px;
        white-space: nowrap; }
    .main-content .filter-wrapper .filter li {
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      position: relative;
      cursor: pointer;
      -webkit-flex-basis: 200px;
          -ms-flex-preferred-size: 200px;
              flex-basis: 200px;
      padding-left: 15px;
      padding-top: 14px; }
      .main-content .filter-wrapper .filter li:nth-child(1) {
        padding-left: 0; }
      .main-content .filter-wrapper .filter li svg {
        position: absolute;
        right: 10px;
        top: 40%;
        font-size: 10px; }
      .main-content .filter-wrapper .filter li span {
        display: none;
        position: absolute;
        top: 20px; }
      .main-content .filter-wrapper .filter li ul {
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        width: 100%;
        top: 51px;
        left: -1px;
        display: none; }
        .main-content .filter-wrapper .filter li ul li {
          line-height: 32px;
          font-size: 14px; }
        .main-content .filter-wrapper .filter li ul li.selected {
          color: #f14a58; }
        .main-content .filter-wrapper .filter li ul li:nth-child(1) {
          padding-left: 15px; }
        .main-content .filter-wrapper .filter li ul li:hover {
          color: #f14a58; }
      .main-content .filter-wrapper .filter li.open ul {
        display: block; }

.main-content .slider {
  width: 100%;
  height: auto; }
  .main-content .slider div {
    height: auto;
    width: 100%;
    z-index: 0; }
    .main-content .slider div img {
      width: 100%; }
  .main-content .slider .slick-prev, .main-content .slider .slick-next {
    position: absolute;
    width: 35px;
    height: 110px;
    z-index: 1;
    background: #f14a58; }
  .main-content .slider .slick-prev {
    left: 0; }
  .main-content .slider .slick-next {
    right: 0; }
  .main-content .slider .slick-dots {
    background-color: #f7f7f7; }

.main-content .banners {
  width: 100%;
  margin-top: 80px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; }

.main-content .banners .container {
  height: 386px; }
  .main-content .banners .container .banner {
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    position: relative;
    border-right: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: left; }
    .main-content .banners .container .banner-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      top: 50px;
      right: 40px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 180px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .main-content .banners .container .banner-title {
      font-family: 'Open Sans';
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 10px; }
    .main-content .banners .container .banner-category {
      font-style: italic;
      font-size: 16px;
      color: #757575; }
  .main-content .banners .container .left {
    background-image: url("../img/photo.png");
    background-position: left bottom; }
  .main-content .banners .container .right {
    border: 0;
    background-image: url("../img/photo1.png");
    background-position: left bottom; }

.main-content .banners-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 385px; }
  .main-content .banners-bottom .banner {
    position: relative; }
    .main-content .banners-bottom .banner:hover::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(112, 118, 127, 0.4); }
    .main-content .banners-bottom .banner .info {
      display: none;
      font-family: "Open Sans";
      width: 100%;
      position: absolute;
      font-size: 28px;
      font-weight: bold;
      text-align: center; }
      .main-content .banners-bottom .banner .info .title {
        color: white; }
      .main-content .banners-bottom .banner .info .description {
        font-family: "Times New Roman";
        font-size: 16px;
        font-style: italic;
        color: white; }
  .main-content .banners-bottom img {
    display: block;
    width: 100%;
    height: 385px;
    -o-object-fit: cover;
       object-fit: cover; }
  .main-content .banners-bottom .left {
    width: 50%; }
    .main-content .banners-bottom .left:hover .info {
      display: block;
      width: 50%;
      top: 20px;
      right: 0; }
  .main-content .banners-bottom .middle {
    width: 25%; }
    .main-content .banners-bottom .middle:hover .info {
      display: block;
      bottom: 20px; }
  .main-content .banners-bottom .right {
    width: 25%; }
    .main-content .banners-bottom .right:hover .info {
      display: block;
      bottom: 20px; }
      .main-content .banners-bottom .right:hover .info .title {
        color: #f14a58; }

.main-content .products-list .items {
  margin-right: -5%;
  font-size: 0;
  letter-spacing: -.36em; }
  .main-content .products-list .items img {
    width: 100%;
    height: auto;
    margin-bottom: 50px; }
  .main-content .products-list .items .item {
    margin-right: 5%;
    margin-top: 60px;
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto';
    width: 20%;
    font-size: 16px;
    text-align: center; }
    .main-content .products-list .items .item .name {
      display: block;
      text-align: center;
      line-height: 24px;
      font-weight: 700;
      margin-bottom: 14px; }
    .main-content .products-list .items .item .price {
      display: block; }

.main-content .products-list .ad {
  text-align: center; }
  .main-content .products-list .ad h2 {
    margin: 50px 0 0 0;
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: bold;
    line-height: 34px; }
  .main-content .products-list .ad span {
    display: block;
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 16px;
    font-family: 'Times New Roman';
    font-style: italic; }
  .main-content .products-list .ad strong {
    color: #f14a58; }

.main-content .arrivals h2 {
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 50px;
  margin-top: 140px;
  margin-bottom: 100px; }

.main-content .arrivals .items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .main-content .arrivals .items img {
    width: 100%;
    height: auto;
    margin-bottom: 50px; }
  .main-content .arrivals .items .item {
    margin-right: 80px; }
    .main-content .arrivals .items .item a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      font-family: 'Roboto';
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 240px; }
    .main-content .arrivals .items .item:last-child {
      margin-right: 0; }
    .main-content .arrivals .items .item .name {
      text-align: center;
      line-height: 24px;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 14px; }

.main-content .button {
  display: block;
  text-align: center;
  padding: 20px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 80px;
  border: 1px solid #e5e5e5; }

.main-content .back {
  font-family: 'Open Sans';
  font-weight: bold;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  height: 64px;
  line-height: 64px;
  padding-left: 25px; }

.main-content .section-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px; }
  .main-content .section-group .gallery {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%; }
    .main-content .section-group .gallery-main img {
      display: block;
      width: 100%; }
    .main-content .section-group .gallery-photos {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%; }
    .main-content .section-group .gallery .gallery-photo img {
      width: 100%; }
  .main-content .section-group .item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    font-family: 'Roboto';
    padding: 10px 40px 0 40px; }
    .main-content .section-group .item-title {
      font-size: 26px;
      font-weight: 700;
      line-height: 30px; }
    .main-content .section-group .item-description {
      font-family: 'Times New Roman';
      font-size: 16px;
      font-style: italic;
      line-height: 30px; }
    .main-content .section-group .item-price {
      display: block;
      font-size: 25px;
      line-height: 65px; }
    .main-content .section-group .item-filter-group {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 20px; }
    .main-content .section-group .item h2 {
      font-size: 12px;
      line-height: 36px;
      margin: 0;
      margin-right: 20px; }
    .main-content .section-group .item-size, .main-content .section-group .item-color {
      font-family: 'Open Sans';
      font-size: 14px; }
    .main-content .section-group .item-size li, .main-content .section-group .item-color li {
      display: inline-block; }
    .main-content .section-group .item-size button, .main-content .section-group .item-color button {
      margin-right: 10px;
      padding: 10px 15px;
      background: white;
      font-weight: 700;
      border: 0;
      cursor: pointer;
      border: 1px solid transparent; }
    .main-content .section-group .item-size .active, .main-content .section-group .item-color .active {
      border: 1px solid #e5e5e5;
      background-color: white; }
    .main-content .section-group .item-add-to-bag {
      margin-top: 40px; }

.main-content .title-page {
  font-family: 'Open Sans';
  margin: 0;
  padding: 20px 0;
  font-size: 26px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; }

.main-content .bag-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .main-content .bag-list li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    width: 50%;
    margin-bottom: 90px;
    margin-top: 10px; }
  .main-content .bag-list img {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    width: 240px;
    height: 340px;
    margin-right: 25px; }
  .main-content .bag-list .item-info-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    width: 100%; }
  .main-content .bag-list h2 {
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0 0 0; }
  .main-content .bag-list .item-price {
    font-size: 17px;
    font-weight: bold;
    line-height: 65px; }
  .main-content .bag-list span {
    font-size: 12px;
    line-height: 24px; }
  .main-content .bag-list .item-remove {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    text-align: left;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: bold;
    line-height: 65px;
    color: #f14a58;
    cursor: pointer; }

.main-content .reminder {
  background-color: #f7f7f7;
  font-family: 'Open Sans';
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  border-top: 1px solid #e5e5e5;
  padding: 15px 10px;
  margin: 20px 0; }

.main-content .buy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  margin-bottom: 40px; }
  .main-content .buy .bag-is-empty {
    font-size: 13px;
    font-weight: 700; }
  .main-content .buy .buy-now-btn {
    margin: 0;
    font-size: 18px; }
  .main-content .buy .total-wrapper {
    font-size: 12px; }
  .main-content .buy .total-cost {
    display: block;
    text-align: right;
    font-size: 18px;
    font-weight: bold; }

.footer {
  border-top: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .footer .links-header {
    font-size: 16px;
    font-family: 'Open Sans';
    margin: 30px 0; }
  .footer .links a {
    font-size: 14px;
    line-height: 40px; }
  .footer .about-us {
    width: 315px;
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 16px;
    line-height: 30px;
    color: #757575; }
  .footer-top .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .footer-collumn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    border-right: 1px solid #e5e5e5; }
    .footer-collumn:last-child {
      margin-left: 60px;
      -webkit-flex-shrink: 1;
          -ms-flex-negative: 1;
              flex-shrink: 1;
      border-right: 0; }
      .footer-collumn:last-child .links-header {
        margin-bottom: 0; }
    .footer-collumn .cell {
      width: 50%; }
  .footer-bottom {
    border-top: 1px solid #e5e5e5;
    font-size: 12px; }
    .footer-bottom .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 20px 0; }
    .footer-bottom .copyright {
      font-weight: bold; }
    .footer-bottom .share {
      border: 0;
      background: none;
      font-size: 18px;
      font-weight: bold;
      padding: 0;
      margin: 0 10px; }
    .footer-bottom .service-navigation {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      font-weight: bold; }
      .footer-bottom .service-navigation li {
        margin-left: 30px; }
        .footer-bottom .service-navigation li:first-child {
          margin-left: 0; }
