@media screen and (max-width: 768px)
	.header
		.header-bottom
			position: relative
			.menu-links
				padding-right: 15px
				font-size: 12px
				li
					margin-right: 25px
			.search
				position: absolute
				right: 0px
				&.expand::before
					content: ""
					position: absolute
					left: -80px
					background: linear-gradient(to right, transparent, #fff);
					width: 80px
					height: 20px
				& [type="search"]
					display: none	
				&.expand [type="search"]
					display: block

	.main-content
		.filter-wrapper
			position: relative
			height: 70px
			.filter-close-btn
				position: absolute
				right: 10px
				top: 25px
				display: none
				width: 18px
				height: 18px
				border: 0
				background-color: white
				padding: 0
				outline: 0
			.filter-close-btn span
				position: absolute
				top: 8px
				display: block
				width: 18px
				height: 3px
				background-color: #f14a58
			.filter-close-btn span:first-child
				transform: rotate(45deg)
			.filter-close-btn span:last-child
				transform: rotate(-45deg)
			.filter-close-btn::before
				content: ""
				outline: none
				position: absolute
				top: 0
				left: -70px
				display: block
				width: 70px
				height: 100%
				background: linear-gradient(to right, transparent, #fff, #fff);
			.toolbar
				display: flex
				margin-top: 25px
				padding-right: 30px;
				overflow: hidden
				li
					margin-right: 10px
				li span.select
					color: #f14a58
			.toolbar.open + .filter
				display: block
			.filter
				display: none
				position: relative
				width: 100%
				top: 40px
				left: 0
				background: white
				font-size: 0
				letter-spacing: -.36em
				svg
					display: none
				li.open 	
					border: 0
					ul 
						border-top: 0
				li.selected
					font-size: 16px
					line-height: 64px
					.selected-item-name
						display: none
				li
					display: inline-block
					vertical-align: top
					// width: 33.33%
					width: 33.3%
					font-size: 16px
					line-height: 64px
					border: 0
					padding: 0

					.items
						display: block
						position: relative
						top: 0
						list-style-type: disc
						list-style-position: inside
						padding-left: 1px
						background-color: transparent
						border: 0
						li
							width: auto
							display: list-item
							font-size: 14px
							color: #a8a8a8
							margin-bottom: 5px
							line-height: 25px
						li:nth-child(1)
							padding-left: 0
		.button
			padding: 10px 40px
			max-width: 250px
		.banners .container
			height: 253px
			.banner .banner-title
				font-size: 22px
			.left
				width: 70%
				background-size: contain
				.banner-info
					top: 30px
					right: 20px
			.right
				width: 30%
				background: url(..//img//photo3.png) no-repeat center 40px
				
				.banner-info
					position: static 
					width: 100%
					margin: 0 auto
					margin-top: 170px
		.arrivals
			h2
				font-size: 40px
			.items 
				.item
					max-width: 204px
					margin-right: 39px
					&:last-child
						display: none
					&:nth-last-child(2)
						margin-right: 0
		.products-list .items .item
			width: 28.33%
			font-size: 14px
		.banners-bottom .right
			display: none
		.banners-bottom .left
			width: 75%
		.banners-bottom .middle
			width: 25%
		.section-group
			display: flex
			flex-direction: column
			margin-bottom: 60px
			.gallery
				display: flex
				box-sizing: border-box
				width: 100%
				&-main
					width: 76%
					margin: 0
					img
						width: 100%
				&-photos
					display: flex
					flex-direction: column
					width: 24%
				&-photo
					height: 33.3%
					img
						height: 100%
			.item
				width: 100%
				padding: 0
				text-align: center
				&-filter-group
					display: inline-block
					width: 100%
					h2
						display: inline-block
				&-size, &-color
					display: inline-block
		.title-page
			font-size: 20px
		.bag-list img
			width: 145px
			height: 205px
		.reminder
			font-size: 11px
		.buy 
			padding: 0 20px
			.total-cost
				font-size: 16px
			.buy-now-btn
				font-size: 16px
	.footer
		.about-us p
			display: none
		&-collumn
			width: 0px
			flex-grow: 2
			border-right: 0
			&:last-child
				flex-grow: 1	
				flex-direction: column
				margin-left: 0px
				flex-shrink: 0
				.cell
					width: 100%
		&-bottom
			.share
				font-size: 16px
@media screen and (max-width: 375px)
	.header-top
		margin-bottom: 0
		background-color: white
		.email
			display: none
		.sign-up
			display: none
		.logo
			display: none
		.logo-mobile
			display: inline
		.hamburger
			display: inline-block !important
	.header
		&-top
		.header-bottom 
			margin: 0
			padding: 0
			position: relative
			.menu
				flex-direction: column
				position: fixed
				left: -120%
				width: 100%
				height: calc(100% - 70px)
				overflow: auto
				background-color: white
				transition: .5s;
				z-index: 1000
			.menu.open
				left: 0
			& .menu-links
				display: block
				padding: 0 10px 0 10px
				li
					margin-bottom: 30px
					font-size: 24px
			.search
				position: relative
				width: 150px
				margin: 15px 0
				margin-left: 10px
				& [type="search"]
					display: block
				& [type="submit"]
					position: absolute

	.header .filter-wrapper .filter li
		width: 50%
	.main-content
		.button
			padding: 10px 20px
			max-width: 200px
		.banners .container
			height: 253px
			margin-top: 0
			.left
				border: 0
				width: 100%
				background-position: center center
				background-size: contain
				.banner-info
					top: 30px
					right: 0
					.banner-category
						font-size: 14px
			.right
				display: none
		.arrivals
			h2
				margin-top: 55px
				margin-bottom: 45px
				font-size: 26px
			.items 
				.item
					max-width: 158px
					margin-right: 19px
					&:nth-last-child(2)
						display: none
					&:nth-last-child(3)
						margin-right: 0
					img
						margin-bottom: 30px
					.name
						font-size: 12px
					.price
						font-size: 12px
			.btn-show-all
				font-size: 18px
				max-width: 220px
				max-height: 62px
				margin-top: 65px
		.products-list .items .item 
			width: 45%
			font-size: 12px
		.banners-bottom .right
			display: none
		.banners-bottom .left
			width: 100%
		.banners-bottom .middle
			display: none
		.section-group
			.gallery
				display: flex
				flex-direction: column
				margin-bottom: 45px
				&-main
					width: 100%
					margin: 0
					img
						width: 100%
				&-photos
					display: flex
					width: 100%
					flex-direction: row
			.item
				padding: 0
				&-filter-group
					display: inline-block
					width: 100%
					text-align: left
		.bag-list li
			width: 100%
			img
				width: 158px
				height: 223px
			h2
				font-size: 12px
				line-height: 20px
			.item-price
				font-size: 14px
			span
				font-size: 10px
				line-height: 20px
		.reminder
			font-size: 10px
		.buy
			.bag-is-empty
				font-size: 10px
			.btn-buy-now
				font-size: 18px
			.total-wrapper
				font-size: 10px
			.total-cost
				font-size: 14px
	.footer
		border-top: 1px solid #e5e5e5
		.links-header
			font-size: 14px
			font-family: 'Open Sans'
		.links a
			font-size: 12px
			line-height: 40px
		.about-us
			display: none
			width: 315px
			font-family: 'Times New Roman'
			font-style: italic
			font-size: 16px
			line-height: 30px
			color: #757575
		&-top .container
			display: flex
			flex-direction: column
			flex-shrink: 0
		&-collumn
			width: 100%
			position: relative
			flex-shrink: 0
			&::after
				content: ""
				position: absolute
				width: 105.5%
				height: 1px
				left: -3%
				bottom: 0
				background: #e5e5e5
			&:first-child 
				flex-wrap: nowrap
				.cell:last-child
					margin-left: 40px
					flex-shrink: 1


			&:last-child
				flex-direction: row
				flex-wrap: nowrap
				.links-header
					margin: 10px 0
				.cell
					flex-shrink: 0
					width: 50%
					border-right: 1px solid #e5e5e5
					&:nth-child(2)
						border-right: 0
						margin-left: 20px
						flex-shrink: 1
		&-bottom 
			border-top: 0
			line-height: 65px
			font-size: 10px
			.container
				display: flex
				flex-wrap: wrap
				justify-content: space-betwee
				margin: 0
			.copyright
				font-weight: bold
				order: 2
			.service-navigation
				position: relative
				display: flex
				justify-content: flex-start
				font-weight: bold
				order: 1
				width: 100%
				li
					margin-left: 20px
					&:first-child
						margin-left: 0
				&::after
					content: ""
					position: absolute
					width: 105.5%
					height: 1px
					left: -3%
					bottom: 0
					background: #e5e5e5
			.share
				order: 3
				margin: 0
